<!-- <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title th:insert="::title">CAS - Central Authentication Service</title>

    <link rel="stylesheet" th:href="@{${#themes.code('standard.custom.css.file')}}" />

    <link rel="stylesheet" th:href="@{#{webjars.fontawesomemin.css}}" />

    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        
        var trackGeoLocation = /*[[${trackGeoLocation}]]*/ === "true";
        
        /*]]>*/
    </script>
</head> -->

<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache"> 
<meta http-equiv="Expires" content="0"> 
<title>统一登录</title>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<script th:inline="javascript">
     /*<![CDATA[*/
     var trackGeoLocation = /*[[${trackGeoLocation}]]*/ === "true";
     /*]]>*/
 </script>
</head>